@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: var(--corfundo);
}

:root {
    --cormenu: rgba(163, 12, 188, 0.61);
    --corfundo: #0E0E0E;
    --corham1: #A30CBC;
    --corham2: #201E1E;
    --cormenuL: #201E1E;
    --cortexto: #dbd8d8;
}

#pagina{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1980px;
}

#menu {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background: var(--cormenu);
    position: relative;
    height: 55px;
}

.menu-itens {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu-itens-caixa {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.link-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 3px;
}

.menu-itens-caixa-texto {
    display: flex;
    align-items:flex-end;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    transition: .3s;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--cormenuL);
}

.menu-itens-caixa-imagem {
    height: 40px;
}

.menu-itens-caixa-texto::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    right: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: var(--cormenuL);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-itens-caixa-texto:hover {
    color: var(--cormenuL);
}

.menu-itens-caixa-texto:hover:before {
    right: 0;
}

#menu-botao{
    position: absolute;
    width: 100%;
    max-width: 55px;
    padding: 5px;
    top: 0;
    left: 0;
}

.menu-botao-in{
    position: relative;
    width: 100%;
    max-width: 45px;
}

.menu-botao-ham{
    width: 100%;
    height: 10px;
    margin: 4px;
    border-radius: 10px;
    background: var(--corham1);
    transition: all .3s;
}

.hanima1{
    transform: rotate(55deg) translate(12px,8px);
    background: var(--corham2);
}

.hanima2{
    opacity: 0;
}

.hanima3{
    transform: rotate(-55deg) translate(10px, -10px);
    background: var(--corham2);
}

#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 80px;
}

.caixa-certificado-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.container-conteudo-1{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.container-descricao-1{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-descricao-1 h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    color: var(--cortexto);
}

.container-descricao-1 h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    text-align: left;
    color: var(--cortexto);
}

.container-imagem-1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgba(163, 12, 188, 0.31);
    border-radius: 214px 75px;
}

.container-imagem-1 img{
    height: 420px;
    border-radius: 15px;
}

.caixa-certificado-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.container-conteudo-2{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}

.container-descricao-2{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container-descricao-2 h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    color: var(--cortexto);
}

.container-descricao-2 h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem;
    text-align: left;
    color: var(--cortexto);
}

.container-imagem-2{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgba(163, 12, 188, 0.31);
    border-radius: 75px 214px;
}

.container-imagem-2 img{
    height: 420px;
    border-radius: 15px;
}

.container-imagem-2-retrato {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    background: rgba(163, 12, 188, 0.31);
    border-radius: 75px 214px;
}

.container-imagem-2-retrato img{
    height: 450px;
    border-radius: 15px;
}

/*tela padrao 1920 1080*/

/*#################################################*/
/*                      Telas                     */
/*################################################*/

@media screen and (max-width: 1680px){
    #menu {
        height: 50px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1.6rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 35px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 40px;
    }
    
    .menu-botao-ham{
        height: 9px;
        margin: 4px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(9px, -12px);
    }
}

@media screen and (max-width: 1450px){
    #menu {
        height: 45px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1.4rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 30px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 35px;
    }
    
    .menu-botao-ham{
        height: 7px;
        margin: 4px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -10px);
    }

}

@media screen and (max-width: 1300px){
    #menu {
        height: 45px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1.4rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 30px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 35px;
    }
    
    .menu-botao-ham{
        height: 7px;
        margin: 4px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -10px);
    }

}

@media screen and (max-width: 1050px){
    #menu {
        height: 40px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1.2rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 27.5px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 6px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(5px,7px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(5px, -10px);
    }

}

@media screen and (max-width: 850px){
    #menu {
        height: 35px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 25px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 25px;
    }
    
    .menu-botao-ham{
        height: 5px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(3px,7px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(5px, -10px);
    }

}

@media screen and (max-width: 730px){
    #menu {
        height: 30px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 0.9rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 20px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 20px;
    }
    
    .menu-botao-ham{
        height: 4px;
        margin: 2px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(3px,5px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(4px, -6px);
    }

}

/*celular*/

@media screen and (max-width: 500px){
    #menu {
        height: 40px;
    }
    
    .menu-itens-caixa-texto{
        display: none;
    }
    
    .menu-itens-caixa-imagem {
        height: 30px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 28px;
    }
    
    .menu-botao-ham{
        height: 6px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,5px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -6px);
    }

}

@media screen and (max-width: 300px){
    #menu {
        height: 40px;
    }
    
    .menu-itens-caixa-texto{
        display: none;
    }
    
    .menu-itens-caixa-imagem {
        height: 28px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 28px;
    }
    
    .menu-botao-ham{
        height: 6px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(4px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(4px, -11px);
    }
}