@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: var(--corfundo);
}

:root {
    --cormenu: rgba(163, 12, 188, 0.61);
    --corfundo: #0E0E0E;
    --corham1: #A30CBC;
    --corham2: #201E1E;
    --cormenuL: #201E1E;
    --corsmtexto: #FFFFFF;
    --corslider: #A30CBC;
    --corbotaoslide: #201E1E;
    --corbotaoslidetexto: #FFFFFF;
    --rodapetitulo: #FFFFFF;
    --cardrodape: #201E1E;
    --cardtexto: #FFFFFF;
    --divisaocard: #1D1B1B;
}

#pagina{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1980px;
}

#menu {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background: var(--cormenu);
    position: relative;
    height: 55px;
}

.menu-itens {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu-itens-caixa {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.link-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 3px;
}

.menu-itens-caixa-texto {
    display: flex;
    align-items:flex-end;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    transition: .3s;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--cormenuL);
}

.menu-itens-caixa-imagem {
    height: 40px;
}

.menu-itens-caixa-texto::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    right: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: var(--cormenuL);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-itens-caixa-texto:hover {
    color: var(--cormenuL);
}

.menu-itens-caixa-texto:hover:before {
    right: 0;
}

#menu-botao{
    position: absolute;
    width: 100%;
    max-width: 55px;
    padding: 5px;
    top: 0;
    left: 0;
}

.menu-botao-in{
    position: relative;
    width: 100%;
    max-width: 45px;
}

.menu-botao-ham{
    width: 100%;
    height: 10px;
    margin: 4px;
    border-radius: 10px;
    background: var(--corham1);
    transition: all .3s;
}

.hanima1{
    transform: rotate(55deg) translate(12px,8px);
    background: var(--corham2);
}

.hanima2{
    opacity: 0;
}

.hanima3{
    transform: rotate(-55deg) translate(10px, -10px);
    background: var(--corham2);
}

#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 40px;
    gap: 45px;
}

.projetofll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
}

.linha1fll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.caixa-imgfll{
    display: flex;
    flex-direction: column;
}

.caixa-imgfll img{
    height: 400px;
    border-radius: 50px;
}

.container-textofll{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-titulofll{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}

.container-titulofll h1{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3.25rem;
    color: #FFFFFF;
}

.container-descricao1fll{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}

.container-descricao1fll h2{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 2rem;
    color: #FFFFFF;
}

.linha2fll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-descricao2fll h3{
   font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 2rem;
    color: #FFFFFF; 
}

#videofll {
    height: 400px;
    border-radius: 20px;
}


.projetobdf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d252e9;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.linha1bdf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.caixa-imgbdf{
    display: flex;
    flex-direction: column;
}

.caixa-imgbdf img{
    height: 400px;
    border-radius: 50px;
}

.container-textobdf{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-titulobdf{
    display: flex;
    flex-direction: row;
    text-align:left;
    justify-content: left;
}

.container-titulobdf h1{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3.25rem;
    color: #0C0C0C;
}

.container-descricao1bdf{
    display: flex;
    flex-direction: row;
    text-align:left;
    justify-content: left;
}

.container-descricao1bdf h2{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 2rem;
    color: #0C0C0C;
}

.linha2bdf{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-descricao2bdf{
    text-align: right;
    justify-content: right;
}

.container-descricao2bdf a{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 2rem;
    color: #0C0C0C; 
    text-decoration: underline;
}

.container-descricao2bdf h3{
   font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 2rem;
    color: #0C0C0C; 
}

#videobdf {
    height: 400px;
    border-radius: 20px;
}

.projetoesp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 100px;
    padding-left: 100px;
}

.linha1esp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.caixa-imgesp{
    display: flex;
    flex-direction: column;
}

.caixa-imgesp img{
    height: 400px;
    border-radius: 50px;
}

.container-textoesp{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-tituloesp{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}

.container-tituloesp h1{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3.5rem;
    color: #FFFFFF;
}

.container-descricao1esp{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: right;
}

.container-descricao1esp h2{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 2rem;
    color: #FFFFFF;
}

.linha2esp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-descricao2esp h3{
   font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 2rem;
    color: #FFFFFF; 
}

#videoesp {
    height: 400px;
    border-radius: 20px;
}

/*tela padrao 1920 1080*/

/*#################################################*/
/*                      Telas                     */
/*################################################*/

@media screen and (max-width: 1680px){
    #menu {
        height: 50px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1.6rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 35px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 40px;
    }
    
    .menu-botao-ham{
        height: 9px;
        margin: 4px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(9px, -12px);
    }

    .caixa-imgfll img{
        height: 350px;
    }

    .container-titulofll h1{
        font-size: 3rem;
    }

    .container-descricao1fll h2{
        font-size: 1.75rem;
    }

    .container-descricao2fll h3{
         font-size: 1.75rem;
     }

     #videofll {
        height: 350px;
    }

    .caixa-imgbdf img{
        height: 350px;
    }

    .container-titulobdf h1{
        font-size: 3rem;
    }

    .container-descricao1bdf h2{
        font-size: 1.75rem;
    }

    .container-descricao2bdf a{
        font-size: 1.75rem;
    }

    .container-descricao2bdf h3{
         font-size: 1.75rem;
     }

    #videobdf {
        height: 350px;
    }

    .caixa-imgesp img{
        height: 350px;
    }

    .container-tituloesp h1{
        font-size: 3rem;
    }

    .container-descricao1esp h2{
        font-size: 1.75rem;
    }

    .container-descricao2esp h3{
         font-size: 1.75rem;
     }

     #videoesp {
        height: 350px;
    }
}

@media screen and (max-width: 1450px){
    #menu {
        height: 45px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1.4rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 30px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 35px;
    }
    
    .menu-botao-ham{
        height: 7px;
        margin: 4px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -10px);
    }

    .caixa-imgfll img{
        height: 300px;
    }

    .container-titulofll h1{
        font-size: 2.75rem;
    }

    .container-descricao1fll h2{
        font-size: 1.5rem;
    }

    .container-descricao2fll h3{
         font-size: 1.5rem;
     }

     #videofll {
        height: 300px;
    }

    .caixa-imgbdf img{
        height: 300px;
    }

    .container-titulobdf h1{
        font-size: 2.75rem;
    }

    .container-descricao1bdf h2{
        font-size: 1.5rem;
    }

    .container-descricao2bdf a{
        font-size: 1.5rem;
    }

    .container-descricao2bdf h3{
         font-size: 1.5rem;
     }

    #videobdf {
        height: 300px;
    }

    .caixa-imgesp img{
        height: 300px;
    }

    .container-tituloesp h1{
        font-size: 2.75rem;
    }

    .container-descricao1esp h2{
        font-size: 1.5rem;
    }

    .container-descricao2esp h3{
         font-size: 1.5rem;
     }

     #videoesp {
        height: 300px;
    }
}

@media screen and (max-width: 1300px){
    #menu {
        height: 45px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1.4rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 30px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 35px;
    }
    
    .menu-botao-ham{
        height: 7px;
        margin: 4px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -10px);
    }

    .caixa-imgfll img{
        height: 275px;
    }

    .container-titulofll h1{
        font-size: 2.5rem;
    }

    .container-descricao1fll h2{
        font-size: 1.25rem;
    }

    .container-descricao2fll h3{
         font-size: 1.25rem;
     }

     #videofll {
        height: 275px;
    }

    .caixa-imgbdf img{
        height: 275px;
    }

    .container-titulobdf h1{
        font-size: 2.5rem;
    }

    .container-descricao1bdf h2{
        font-size: 1.25rem;
    }

    .container-descricao2bdf a{
        font-size: 1.25rem;
    }

    .container-descricao2bdf h3{
         font-size: 1.25rem;
     }

    #videobdf {
        height: 275px;
    }

    .caixa-imgesp img{
        height: 275px;
    }

    .container-tituloesp h1{
        font-size: 2.5rem;
    }

    .container-descricao1esp h2{
        font-size: 1.25rem;
    }

    .container-descricao2esp h3{
         font-size: 1.25rem;
     }

     #videoesp {
        height: 275px;
    }
}

@media screen and (max-width: 1050px){
    #menu {
        height: 40px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1.2rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 27.5px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 6px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(5px,7px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(5px, -10px);
    }

    .caixa-imgfll img{
        height: 250px;
    }

    .container-titulofll h1{
        font-size: 2.25rem;
    }

    .container-descricao1fll h2{
        font-size: 1rem;
    }

    .container-descricao2fll h3{
         font-size: 1rem;
     }

     #videofll {
        height: 250px;
    }

    .caixa-imgbdf img{
        height: 250px;
    }

    .container-titulobdf h1{
        font-size: 2.25rem;
    }

    .container-descricao1bdf h2{
        font-size: 1rem;
    }

    .container-descricao2bdf a{
        font-size: 1rem;
    }

    .container-descricao2bdf h3{
         font-size: 1rem;
     }

    #videobdf {
        height: 250px;
    }

    .caixa-imgesp img{
        height: 250px;
    }

    .container-tituloesp h1{
        font-size: 2.25rem;
    }

    .container-descricao1esp h2{
        font-size: 1rem;
    }

    .container-descricao2esp h3{
         font-size: 1rem;
     }

     #videoesp {
        height: 250px;
    }

    .projetobdf , .projetoesp, .projetofll{
        padding-right: 75px;
        padding-left: 75px;
    }
}

@media screen and (max-width: 850px){
    #menu {
        height: 35px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 1rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 25px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 25px;
    }
    
    .menu-botao-ham{
        height: 5px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(3px,7px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(5px, -10px);
    }

    .caixa-imgfll img{
        height: 225px;
    }

    .container-titulofll h1{
        font-size: 2rem;
    }

    .container-descricao1fll h2{
        font-size: 1rem;
    }

    .container-descricao2fll h3{
         font-size: 1rem;
     }

     #videofll {
        height: 225px;
    }

    .caixa-imgbdf img{
        height: 225px;
    }

    .container-titulobdf h1{
        font-size: 2rem;
    }

    .container-descricao1bdf h2{
        font-size: 1rem;
    }

    .container-descricao2bdf a{
        font-size: 1rem;
    }

    .container-descricao2bdf h3{
         font-size: 1rem;
     }

    #videobdf {
        height: 225px;
    }

    .caixa-imgesp img{
        height: 225px;
    }

    .container-tituloesp h1{
        font-size: 2rem;
    }

    .container-descricao1esp h2{
        font-size: 1rem;
    }

    .container-descricao2esp h3{
         font-size: 1rem;
     }

     #videoesp {
        height: 225px;
    }

    .projetobdf , .projetoesp, .projetofll{
        padding-right: 65px;
        padding-left: 65px;
    }
}

@media screen and (max-width: 730px){
    #menu {
        height: 30px;
    }
    
    .menu-itens-caixa-texto{
        font-size: 0.9rem;
    }
    
    .menu-itens-caixa-imagem {
        height: 20px;
    }
    
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 20px;
    }
    
    .menu-botao-ham{
        height: 4px;
        margin: 2px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(3px,5px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(4px, -6px);
    }

    .caixa-imgfll img{
        height: 200px;
    }

    .container-titulofll h1{
        font-size: 1.75rem;
    }

    .container-descricao1fll h2{
        font-size: 0.95rem;
    }

    .container-descricao2fll h3{
         font-size: 0.95rem;
     }

     #videofll {
        height: 200px;
    }

    .caixa-imgbdf img{
        height: 200px;
    }

    .container-titulobdf h1{
        font-size: 1.75rem;
    }

    .container-descricao1bdf h2{
        font-size: 0.95rem;
    }

    .container-descricao2bdf a{
        font-size: 0.95rem;
    }

    .container-descricao2bdf h3{
         font-size: 0.95rem;
     }

    #videobdf {
        height: 200px;
    }

    .caixa-imgesp img{
        height: 200px;
    }

    .container-tituloesp h1{
        font-size: 1.75rem;
    }

    .container-descricao1esp h2{
        font-size: 0.95rem;
    }

    .container-descricao2esp h3{
         font-size: 0.95rem;
     }

     #videoesp {
        height: 200px;
    }

    .projetobdf , .projetoesp, .projetofll{
        padding-right: 65px;
        padding-left: 65px;
    }
}

/*celular*/

@media screen and (max-width: 500px){
    #menu {
        height: 40px;
    }
    
    .menu-itens-caixa-texto{
        display: none;
    }
    
    .menu-itens-caixa-imagem {
        height: 30px;
    }
    
    #menu-botao{
        max-width: 30px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 28px;
    }
    
    .menu-botao-ham{
        height: 6px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,5px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -6px);
    }

    .caixa-imgfll img{
        height: 250px;
    }

    .container-titulofll h1{
        font-size: 2rem;
    }

    .container-descricao1fll h2{
        font-size: 1.25rem;
    }

    .container-descricao2fll h3{
         font-size: 1.25rem;
     }

     #videofll {
        height: 185px;
    }

    .caixa-imgbdf img{
        height: 250px;
    }

    .container-titulobdf h1{
        font-size: 2rem;
    }

    .container-descricao1bdf h2{
        font-size: 1.25rem;
    }

    .container-descricao2bdf a{
        font-size: 1.25rem;
    }

    .container-descricao2bdf h3{
         font-size: 1.25rem;
     }

    #videobdf {
        height: 185px;
    }

    .caixa-imgesp img{
        height: 250px;
    }

    .container-tituloesp h1{
        font-size: 2rem;
    }

    .container-descricao1esp h2{
        font-size: 1.25rem;
    }

    .container-descricao2esp h3{
         font-size: 1.25rem;
     }

     #videoesp {
        height: 250px;
    }

    .projetobdf , .projetoesp, .projetofll{
        padding-right: 12px;
        padding-left: 12px;
    }

    .linha1fll, .linha1esp, .linha2bdf{
        flex-direction: column;
    }

    .linha2fll, .linha2esp, .linha1bdf{
        flex-direction: column-reverse;
    }

    .container-titulofll, .container-titulobdf, .container-tituloesp, .container-descricao1fll, .container-descricao2fll, 
    .container-descricao2bdf, .container-descricao1bdf, .container-descricao1esp, .container-descricao2esp{
        text-align: center;
        justify-content: center;
    }

    .projetobdf, .projetoesp, .projetofll{
        gap: 10px;
    }
}

@media screen and (max-width: 365px){
    #menu {
        height: 40px;
    }
    
    .menu-itens-caixa-texto{
        display: none;
    }
    
    .menu-itens-caixa-imagem {
        height: 28px;
    }
    
    #menu-botao{
        max-width: 30px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 28px;
    }
    
    .menu-botao-ham{
        height: 6px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(4px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(4px, -11px);
    }

    .caixa-imgfll img{
        height: 225px;
    }

    .container-titulofll h1{
        font-size: 1.75rem;
    }

    .container-descricao1fll h2{
        font-size: 1rem;
    }

    .container-descricao2fll h3{
         font-size: 1rem;
     }

     #videofll {
        height: 145px;
    }

    .caixa-imgbdf img{
        height: 225px;
    }

    .container-titulobdf h1{
        font-size: 1.75rem;
    }

    .container-descricao1bdf h2{
        font-size: 1rem;
    }

    .container-descricao2bdf a{
        font-size: 1rem;
    }

    .container-descricao2bdf h3{
         font-size: 1rem;
     }

    #videobdf {
        height: 150px;
    }

    .caixa-imgesp img{
        height: 225px;
    }

    .container-tituloesp h1{
        font-size: 1.75rem;
    }

    .container-descricao1esp h2{
        font-size: 1rem;
    }

    .container-descricao2esp h3{
         font-size: 1rem;
     }

     #videoesp {
        height: 225px;
    }

    .projetobdf , .projetoesp, .projetofll{
        padding-right: 2px;
        padding-left: 2px;
    } 
}

@media screen and (max-width: 265px){
    #menu {
        height: 40px;
        padding-left: 10px;
    }
    
    .menu-itens-caixa-texto{
        display: none;
    }
    
    .menu-itens-caixa-imagem {
        height: 28px;
    }
    
    #menu-botao{
        max-width: 32px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 28px;
    }
    
    .menu-botao-ham{
        height: 6px;
        margin: 3px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(4px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(4px, -11px);
    }

    .caixa-imgfll img{
        height: 200px;
    }

    .container-titulofll h1{
        font-size: 1.55rem;
    }

    .container-descricao1fll h2{
        font-size: 0.9rem;
    }

    .container-descricao2fll h3{
         font-size: 0.9rem;
     }

     #videofll {
        height: 120px;
    }

    .caixa-imgbdf img{
        height: 200px;
    }

    .container-titulobdf h1{
        font-size: 1.55rem;
    }

    .container-descricao1bdf h2{
        font-size: 0.9rem;
    }

    .container-descricao2bdf a{
        font-size: 0.9rem;
    }

    .container-descricao2bdf h3{
         font-size: 0.9rem;
     }

    #videobdf {
        height: 125px;
    }

    .caixa-imgesp img{
        height: 200px;
        border-radius: 15px;
    }

    .container-tituloesp h1{
        font-size: 1.55rem;
    }

    .container-descricao1esp h2{
        font-size: 0.9rem;
    }

    .container-descricao2esp h3{
         font-size: 0.9rem;
     }

     #videoesp {
        height: 200px;
    }

    .projetobdf , .projetoesp, .projetofll{
        padding-right: 2px;
        padding-left: 2px;
    } 
}

@media screen and (max-width: 215px){
    .container-titulofll h1{
        font-size: 1.35rem;
    }

    .container-descricao1fll h2{
        font-size: 0.8rem;
    }

    .container-descricao2fll h3{
         font-size: 0.8rem;
     }

    .container-titulobdf h1{
        font-size: 1.35rem;
    }

    .container-descricao1bdf h2{
        font-size: 0.8rem;
    }

    .container-descricao2bdf a{
        font-size: 0.8rem;
    }

    .container-descricao2bdf h3{
         font-size: 0.8rem;
     }

    .container-tituloesp h1{
        font-size: 1.35rem;
    }

    .container-descricao1esp h2{
        font-size: 0.8rem;
    }

    .container-descricao2esp h3{
         font-size: 0.8rem;
     }

     #videofll {
        height: 100px;
    }

    #videobdf {
        height: 100px;
    }

     #videoesp {
        height: 150px;
    }

    .caixa-imgesp img{
        height: 175px;
        border-radius: 15px;
    }

    .caixa-imgbdf img{
        height: 175px;
    }

    .caixa-imgfll img{
        height: 175px;
    }
}