@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: var(--corfundo);
}

:root {
    --cormenu: rgba(163, 12, 188, 0.61);
    --corfundo: #0E0E0E;
    --corham1: #A30CBC;
    --corham2: #201E1E;
    --cormenuL: #201E1E;
    --corsmtexto: #FFFFFF;
    --corslider: #A30CBC;
    --corbotaoslide: #201E1E;
    --corbotaoslidetexto: #FFFFFF;
    --rodapetitulo: #FFFFFF;
    --cardrodape: #201E1E;
    --cardtexto: #FFFFFF;
    --divisaocard: #1D1B1B;
}

#menu {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background: var(--cormenu);
    position: relative;
}

.menu-links {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    color: var(--cormenuL);
    font-size: 3rem;
    padding: 10px;
}   

#menu-botao{
    position: absolute;
    width: 100%;
    max-width: 65px;
    padding: 5px;
    top: 0;
    left: 0;
}

.menu-botao-in{
    position: relative;
    width: 100%;
    max-width: 60px;
}

.menu-botao-ham{
    width: 100%;
    height: 12px;
    margin: 4px;
    border-radius: 10px;
    background: var(--corham1);
    transition: all .3s;
}

.hanima1{
    transform: rotate(55deg) translate(17px,8px);
    background: var(--corham2);
}

.hanima2{
    opacity: 0;
}

.hanima3{
    transform: rotate(-55deg) translate(10px, -10px);
    background: var(--corham2);
}

#conteudo {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.sobremim {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
    align-items: center;
}

.sobremim-texto {
    display: flex;
    flex-direction: column;
}

.sobremim-texto-titulo h1{
    font-family: 'Montserrat';
    font-weight: 600;
    color: var(--corsmtexto);
    font-size: 6rem;
}

.sobremim-texto-descricao h2{
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--corsmtexto);
    font-size: 3.2rem;
}

.sobremim-imagem img{
    border-radius: 45px;
    height: 600px;
}

.slide-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--corslider);
    padding: 30px;
}

#slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 10px;
}

.slider-container-imagem{
    display: flex;
}

#slider-imagem{
    height: 650px;
    border-radius: 35px;
}

.slider-container-texto{
    display: flex;
    flex-direction: column;
}

#slider-titulo {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 4.85rem;
}

#slider-descricao{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 3.95rem;
}

.slide-contaier-botao{
    display: flex;
    flex-direction: row;
}

#container-botao{
    background-color: var(--corbotaoslide);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;

    cursor: pointer;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--corbotaoslidetexto);
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.rodape-titulo{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.rodape-titulo h5{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 5rem;
    color: var(--rodapetitulo);
}

.rodape-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    animation: float 6s ease-in-out infinite;
    width: 100%;
}

.card-links-1{
    display: flex;
    background-color: var(--cardrodape);
    border-radius: 25px;    
    padding-right: 10px;
}
.card-links-2{
    display: flex;
    background-color: var(--cardrodape);
    border-radius: 25px;
    padding-right: 10px;
}
.card-links-3{
    display: flex;
    background-color: var(--cardrodape);
    border-radius: 25px;
    padding-right: 10px;
}

.card-links-containers{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-links-containers h6{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 4rem;
    color: var(--cardtexto);
}

.card-links-containers h7{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 4rem;
    color: var(--cardtexto);
}

.card-links-containers h8{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 4rem;
    color: var(--cardtexto);
}

.card-links-containers img{
    height: 200px;
}

.divisao-card-links{
    width: 75%;
    height: 2px;
    background: #1D1B1B;
    margin: 6px;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

/*#################################################*/
/*                      Telas                     */
/*################################################*/

@media screen and (max-width: 2560px){
    #menu-botao{
        max-width: 65px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 60px;
    }
    
    .menu-botao-ham{
        height: 12px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(17px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(10px, -10px);
    }

    .menu-links{
        font-size: 3rem;
        padding: 10px;
    }
    .sobremim{
        padding: 40px;
    }
    .sobremim-texto-titulo h1{
        font-size: 6rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 3.2rem;
    }
    .sobremim-imagem img{
        height: 600px;
    }
    .slide-container{
        padding: 30px;
    }
    #slider{
        gap: 60px;
    }
    #slider-imagem{
        height: 650px;
    }
    #slider-titulo{
        font-size: 4.85rem;
    }
    #slider-descricao{
        font-size: 3.95rem;
    }
    #container-botao{
        font-size: 2.5rem;
        border-radius: 20px;
    }
    .rodape-titulo h5{
        font-size: 5rem; 
    }
    .card-links-containers img{
        height: 200px;
    }
    .card-links-containers h6{
        font-size: 4rem;
    }
    .card-links-containers h7{
        font-size: 4rem;
    }
    .card-links-containers h8{
        font-size: 4rem;
    }
}

@media screen and (max-width: 1980px){
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 45px;
    }
    
    .menu-botao-ham{
        height: 10px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(13px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(8px, -10px);
    }

    .menu-links{
        font-size: 2rem;
        padding: 10px;
    }
    .sobremim{
        padding: 35px;
        gap: 60px;
    }
    .sobremim-texto-titulo h1{
        font-size: 4rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 2rem;
    }
    .sobremim-imagem img{
        height: 475px;
    }
    .slide-container{
        padding: 30px;
    }
    #slider{
        gap: 60px;
    }
    #slider-imagem{
        height: 550px;
    }
    #slider-titulo{
        font-size: 4rem;
    }
    #slider-descricao{
        font-size: 2.5rem;
    }
    #container-botao{
        font-size: 2rem;
        border-radius: 20px;
    }
    .rodape-titulo h5{
        font-size: 4rem;
        margin-bottom: 30px; 
    }
    .card-links-containers img{
        height: 150px;
    }
    .card-links-containers h6{
        font-size: 3rem;
    }
    .card-links-containers h7{
        font-size: 3rem;
    }
    .card-links-containers h8{
        font-size: 3rem;
    }
}

@media screen and (max-width: 1440px){
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 45px;
    }
    
    .menu-botao-ham{
        height: 10px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(13px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(8px, -10px);
    }

    .menu-links{
        font-size: 2rem;
        padding: 10px;
    }
    .sobremim{
        padding: 35px;
        gap: 60px;
    }
    .sobremim-texto-titulo h1{
        font-size: 3.5rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 2rem;
    }
    .sobremim-imagem img{
        height: 400px;
    }
    .slide-container{
        padding: 30px;
    }
    #slider{
        gap: 60px;
    }
    #slider-imagem{
        height: 500px;
    }
    #slider-titulo{
        font-size: 3.25rem;
    }
    #slider-descricao{
        font-size: 2.5rem;
    }
    #container-botao{
        font-size: 2rem;
        border-radius: 20px;    
    }
    .rodape-titulo h5{
        font-size: 4rem;
        margin-bottom: 30px; 
    }
    .card-links-containers img{
        height: 125px;
    }
    .card-links-containers h6{
        font-size: 3rem;
    }
    .card-links-containers h7{
        font-size: 3rem;
    }
    .card-links-containers h8{
        font-size: 3rem;
    }
}

@media screen and (max-width: 1250px){
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 40px;
    }
    
    .menu-botao-ham{
        height: 9px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(10px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(9px, -10px);
    }

    .menu-links{
        font-size: 1.75rem;
        padding: 10px;
    }
    .sobremim{
        padding: 35px;
        gap: 30px;
    }
    .sobremim-texto-titulo h1{
        font-size: 3rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.5rem;
    }
    .sobremim-imagem img{
        height: 350px;
    }
    .slide-container{
        padding: 30px;
    }
    #slider{
        gap: 35px;
    }
    #slider-imagem{
        height: 450px;
    }
    #slider-titulo{
        font-size: 2.75rem;
    }
    #slider-descricao{
        font-size: 2rem;
    }
    #container-botao{
        font-size: 1.75rem;
        border-radius: 20px;    
    }
    .rodape-titulo h5{
        font-size: 3rem;
        margin-bottom: 30px; 
    }
    .card-links-containers img{
        height: 125px;
    }
    .card-links-containers h6{
        font-size: 3rem;
    }
    .card-links-containers h7{
        font-size: 3rem;
    }
    .card-links-containers h8{
        font-size: 3rem;
    }
}

@media screen and (max-width: 1050px){
    #menu-botao{
        max-width: 45px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 40px;
    }
    
    .menu-botao-ham{
        height: 9px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(10px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(9px, -10px);
    }

    .menu-links{
        font-size: 1.75rem;
        padding: 10px;
    }
    .sobremim{
        padding: 35px;
        gap: 30px;
    }
    .sobremim-texto-titulo h1{
        font-size: 2.5rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.5rem;
    }
    .sobremim-imagem img{
        height: 300px;
    }
    .slide-container{
        padding: 20px;
    }
    #slider{
        gap: 35px;
    }
    #slider-imagem{
        height: 350px;
    }
    #slider-titulo{
        font-size: 2rem;
    }
    #slider-descricao{
        font-size: 1.75rem;
    }
    #container-botao{
        font-size: 1.55rem;
        border-radius: 20px;    
    }
    .rodape-titulo h5{
        font-size: 2.75rem;
        margin-bottom: 30px; 
    }
    .card-links-containers img{
        height: 100px;
    }
    .card-links-containers h6{
        font-size: 2.5rem;
    }
    .card-links-containers h7{
        font-size: 2.5rem;
    }
    .card-links-containers h8{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 920px){
    #menu-botao{
        max-width: 40px;
        padding: 10px;
    }
    
    .menu-botao-in{
        max-width: 35px;
    }
    
    .menu-botao-ham{
        height: 8px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(2px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(10px, -16px);
    }

    .menu-links{
        font-size: 1.5rem;
        padding: 10px;
    }
    .sobremim{
        padding: 35px;
        gap: 30px;
    }
    .sobremim-texto-titulo h1{
        font-size: 2rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.25rem;
    }
    .sobremim-imagem img{
        height: 275px;
    }
    .slide-container{
        padding: 20px;
    }
    #slider{
        gap: 30px;
    }
    #slider-imagem{
        height: 300px;
    }
    #slider-titulo{
        font-size: 2rem;
    }
    #slider-descricao{
        font-size: 1.75rem;
    }
    #container-botao{
        font-size: 1.5rem;
        border-radius: 20px;    
    }
    .rodape-titulo h5{
        font-size: 2.5rem;
        margin-bottom: 30px; 
    }
    .card-links-containers img{
        height: 75px;
    }
    .card-links-containers h6{
        font-size: 2rem;
    }
    .card-links-containers h7{
        font-size: 2rem;
    }
    .card-links-containers h8{
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 35px;
    }
    
    .menu-botao-ham{
        height: 8px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(8px, -10px);
    }

    .menu-links{
        font-size: 1.5rem;
        padding: 10px;
    }
    .sobremim{
        padding: 30px;
        gap: 20px;
    }
    .sobremim-texto-titulo h1{
        font-size: 1.75rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.25rem;
    }
    .sobremim-imagem img{
        height: 250px;
    }
    .slide-container{
        padding: 20px;
    }
    #slider{
        gap: 30px;
    }
    #slider-imagem{
        height: 275px;
    }
    #slider-titulo{
        font-size: 1.75rem;
    }
    #slider-descricao{
        font-size: 1.25rem;
    }
    #container-botao{
        font-size: 1.25rem;
        border-radius: 20px;    
    }
    .rodape-titulo h5{
        font-size: 2.25rem;
        margin-bottom: 15px; 
    }
    .card-links-containers img{
        height: 65px;
    }
    .card-links-containers h6{
        font-size: 1.75rem;
    }
    .card-links-containers h7{
        font-size: 1.75rem;
    }
    .card-links-containers h8{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 700px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 32px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    .menu-links{
        font-size: 1.5rem;
        padding: 8px;
    }
    .sobremim{
        padding: 20px;
        gap: 20px;
    }
    .sobremim-texto-titulo h1{
        font-size: 1.5rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.10rem;
    }
    .sobremim-imagem img{
        height: 225px;
    }
    .slide-container{
        padding: 15px;
    }
    #slider{
        gap: 20px;
    }
    #slider-imagem{
        height: 250px;
    }
    #slider-titulo{
        font-size: 1.60rem;
    }
    #slider-descricao{
        font-size: 1.20rem;
    }
    #container-botao{
        font-size: 1.10rem;
        border-radius: 20px;    
    }
    .rodape-titulo h5{
        font-size: 2rem;
        margin-bottom: 15px; 
    }
    .card-links-containers img{
        height: 50px;
    }
    .card-links-containers h6{
        font-size: 1.5rem;
    }
    .card-links-containers h7{
        font-size: 1.5rem;
    }
    .card-links-containers h8{
        font-size: 1.5rem;
    }
}

/*celular*/

@media screen and (max-width: 650px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    #menu {
        flex-direction: column;
        align-items: center ;
    }
    .menu-links{
        font-size: 1.75rem;
        padding: 7px;
    }
    .sobremim{
        padding: 20px;
        gap: 20px;
        flex-direction: column-reverse;
        text-align: inherit;
    }
    .sobremim-texto-titulo h1{
        font-size: 2.25rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.25rem;
    }
    .sobremim-imagem img{
        height: 250px;
    }
    .slide-container{
        padding: 20px;
    }
    #slider{
        flex-direction:column-reverse;
        text-align: center;
        gap: 15px;
    }
    #slider-imagem{
        height: 300px;
    }
    #slider-titulo{
        font-size: 2.25rem;
    }
    #slider-descricao{
        font-size: 1.40rem;
    }
    #container-botao{
        font-size: 1.75rem;
        border-radius: 17px;    
    }
    .rodape-titulo h5{
        font-size: 2.25rem;
        margin-bottom: 15px; 
    }
    .card-links-containers{
        border-radius: 10px;
    }
    .card-links-containers img{
        height: 65px;
    }
    .card-links-containers h6{
        font-size: 1.5rem;
    }
    .card-links-containers h7{
        font-size: 1.5rem;
    }
    .card-links-containers h8{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 525px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    #menu {
        flex-direction: column;
        align-items: center ;
    }
    .menu-links{
        font-size: 1.75rem;
        padding: 7px;
    }
    .sobremim{
        padding: 20px;
        gap: 20px;
        flex-direction: column-reverse;
        text-align: inherit;
    }
    .sobremim-texto-titulo h1{
        font-size: 2.1rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.25rem;
    }
    .sobremim-imagem img{
        height: 250px;
    }
    .slide-container{
        padding: 20px;
    }
    #slider{
        flex-direction:column-reverse;
        text-align: center;
        gap: 15px;
    }
    #slider-imagem{
        height: 300px;
    }
    #slider-titulo{
        font-size: 2.25rem;
    }
    #slider-descricao{
        font-size: 1.40rem;
    }
    #container-botao{
        font-size: 1.75rem;
        border-radius: 17px;    
    }
    .rodape-titulo h5{
        font-size: 2.25rem;
        margin-bottom: 15px; 
    }
    .card-links-containers img{
        height: 50px;
    }
    .card-links-containers h6{
        font-size: 1.2rem;
    }
    .card-links-containers h7{
        font-size: 1.2rem;
    }
    .card-links-containers h8{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 388px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    #menu {
        flex-direction: column;
        align-items: center ;
    }
    .menu-links{
        font-size: 1.75rem;
        padding: 7px;
    }
    .sobremim{
        padding: 20px;
        gap: 20px;
        flex-direction: column-reverse;
        text-align: inherit;
    }
    .sobremim-texto-titulo h1{
        font-size: 1.55rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.10rem;
    }
    .sobremim-imagem img{
        height: 225px;
    }
    .slide-container{
        padding: 20px;
    }
    #slider{
        flex-direction:column-reverse;
        text-align: center;
        gap: 15px;
    }
    #slider-imagem{
        height: 275px;
    }
    #slider-titulo{
        font-size: 2rem;
    }
    #slider-descricao{
        font-size: 1.25rem;
    }
    #container-botao{
        font-size: 1.5rem;
        border-radius: 17px;    
    }
    .rodape-titulo h5{
        font-size: 2rem;
        margin-bottom: 15px; 
    }
    .card-links-containers img{
        height: 45px;
    }
    .card-links-containers h6{
        font-size: 1rem;
    }
    .card-links-containers h7{
        font-size: 1rem;
    }
    .card-links-containers h8{
        font-size: 1rem;
    }
}

@media screen and (max-width: 340px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    #menu {
        flex-direction: column;
        align-items: center ;
    }
    .menu-links{
        font-size: 1.75rem;
        padding: 7px;
    }
    .sobremim{
        padding: 20px;
        gap: 20px;
        flex-direction: column-reverse;
        text-align: inherit;
    }
    .sobremim-texto-titulo h1{
        font-size: 1.45rem;
    }
    .sobremim-texto-descricao h2{
        font-size: 1.05rem;
    }
    .sobremim-imagem img{
        height: 220px;
    }
    .slide-container{
        padding: 15px;
    }
    #slider{
        flex-direction:column-reverse;
        text-align: center;
        gap: 15px;
    }
    #slider-imagem{
        height: 255px;
    }
    #slider-titulo{
        font-size: 1.8rem;
    }
    #slider-descricao{
        font-size: 1.15rem;
    }
    #container-botao{
        font-size: 1.4rem;
        border-radius: 17px;    
    }
    .rodape-titulo h5{
        font-size: 1.8rem;
        margin-bottom: 15px; 
    }
    .card-links-containers img{
        height: 40px;
    }
    .card-links-containers h6{
        font-size: 0.9rem;
    }
    .card-links-containers h7{
        font-size: 0.9rem;
    }
    .card-links-containers h8{
        font-size: 0.9rem;
    }
}