@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, #B987CA 0%, #ED9FB2 100%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
}

.cabecalho-itens{
    display: flex;
    gap: 152px;
}

.cabecalho-itens-texto{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 42px;
}

input[type="checkbox"] {
    position: relative;
    width: 125px;
    height: 50px;
    appearance: none;
    background-color: #FFFFFF;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(239, 168, 219, 0.59);
    transition: 1.5s;

}

input:checked[type="checkbox"] {
    background-color: #FFFFFF;
    border: 2px solid rgba(0, 4, 96, 0.56);
    border-radius: 40px;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    top: 0;
    left: 0;
    background-color: rgba(255, 153, 184, 0.92);
    transform: scale(1.1);
    transition: 1.5s;
}
input:checked[type="checkbox"]::before {
    left: 75px;
    background-color: #0A3760;
}


.conteudo{
    margin-bottom: 60px;
}

.conteudo-primario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    padding-top: 60px;
}

.conteudo-primario-itens{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo-primario-itens h1{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 62px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

}

.conteudo-primario-itens h2{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 42px;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
}

.conteudo-primario-imagem {
    height: 400px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 80px;
}
.conteudo-secundario-links {
    display: flex;
    height: 150px;
}