/*Inicio gerais*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: var(--corfundo);
}

#pagina{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1980px;
}

:root {
    --cormenu: rgba(163, 12, 188, 0.61);
    --corfundo: #0E0E0E;
    --corham1: #A30CBC;
    --corham2: #201E1E;
    --cormenuL: #201E1E;
    --corsmtexto: #FFFFFF;
    --corslider: #A30CBC;
    --corbotaoslide: #201E1E;
    --corbotaoslidetexto: #FFFFFF;
    --rodapetitulo: #FFFFFF;
    --cardrodape: #201E1E;
    --cardtexto: #FFFFFF;
    --divisaocard: #1D1B1B;
}

/*fim gerais*/
/*inicio navbar*/

#menu {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background: var(--cormenu);
    position: relative;
    height: 65px;
}

.menu-itens {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu-itens-caixa {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.menu-itens-caixa-texto {
    display: flex;
    align-items:flex-end;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    transition: .3s;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 2.25rem;
    color: var(--cormenuL);
}

.menu-itens-caixa-imagem {
    height: 50px;
}

.menu-itens-caixa-texto::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    right: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: var(--cormenuL);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-itens-caixa-texto:hover {
    color: var(--cormenuL);
}

.menu-itens-caixa-texto:hover:before {
    right: 0;
}

#menu-botao{
    position: absolute;
    width: 100%;
    max-width: 65px;
    padding: 5px;
    top: 0;
    left: 0;
}

.menu-botao-in{
    position: relative;
    width: 100%;
    max-width: 55px;
}

.menu-botao-ham{
    width: 100%;
    height: 12px;
    margin: 4px;
    border-radius: 10px;
    background: var(--corham1);
    transition: all .3s;
}

.hanima1{
    transform: rotate(55deg) translate(16px,8px);
    background: var(--corham2);
}

.hanima2{
    opacity: 0;
}

.hanima3{
    transform: rotate(-55deg) translate(10px, -10px);
    background: var(--corham2);
}

/*fim navbar*/

#conteudo {
    display: flex;
    flex-direction: column;
}

/*inicio Sobre mim*/

.sobremim {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
    align-items: center;
}

.sobremim-texto {
    display: flex;
    flex-direction: column;
}

.sobremim-texto-titulo h1{
    font-family: 'Montserrat';
    font-weight: 600;
    color: var(--corsmtexto);
    font-size: 4rem;
}

.sobremim-texto-descricao h2{
    font-family: 'Montserrat';
    font-weight: 500;
    color: var(--corsmtexto);
    font-size: 2.5rem;
}

.sobremim-imagem img{
    border-radius: 45px;
    height: 500px;
}

/*fim Sobre mim*/
/*inicio slider*/
.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 600px;
    background: #A30CBC;
    overflow: hidden;
}

.slide-conteudo-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 100%;
    gap: 10px;
}

.slide-container-descricao{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.slide-container-titulo {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.slide-container-titulo h1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 4.25rem;
}

.slide-container-descricao h2{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 2.75rem;
}

.slide-container-saibamais{
    display: flex;
    flex-direction: row;
}

.btn-saibamais{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #201E1E;
    border-radius: 25px;
    width: 15%;
    height: 50px;
}

.btn-saibamais a{
    font-family: 'Ubuntu';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 2rem;
}

.slides{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.slides input{
    display: none;
}

.slide{
    display: flex;
    min-width: 100%;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 4s;
}

.slide img{
    height: 100%;
    border-radius: 20px;
    margin-left: 20px;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 515px;
    gap: 25px;
}

.manual-btn{
    border: 2px solid #600f6e;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:hover{
    background: #600f6e;
}

#radio1:checked{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -100%;
}

#radio3:checked ~ .first{
    margin-left: -200%;
}

.navigation-auto{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 515px;
    gap: 25px;
}

.navigation-auto div{
    border: 2px solid #600f6e;
    border-radius: 15px;
    padding: 10px;
    transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #600f6e;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #600f6e;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #600f6e;
}

/* fim slider */
/* inicio rodape */
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.rodape-titulo{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.rodape-titulo h5{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 4rem;
    color: var(--rodapetitulo);
}

.rodape-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    animation: float 6s ease-in-out infinite;
    width: 100%;
}

.card-links-1{
    display: flex;
    background-color: var(--cardrodape);
    border-radius: 25px;    
    padding-right: 10px;
}
.card-links-2{
    display: flex;
    background-color: var(--cardrodape);
    border-radius: 25px;
    padding-right: 10px;
}
.card-links-3{
    display: flex;
    background-color: var(--cardrodape);
    border-radius: 25px;
    padding-right: 10px;
}

.card-links-containers{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-links-containers h6{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 3rem;
    color: var(--cardtexto);
}

.card-links-containers h7{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 3rem;
    color: var(--cardtexto);
}

.card-links-containers h8{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-size: 3rem;
    color: var(--cardtexto);
}

.card-links-containers img{
    height: 125px;
}

.divisao-card-links{
    width: 75%;
    height: 2px;
    background: #1D1B1B;
    margin: 6px;
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}
/* fim rodape */

/*tela padrao 1920 1080*/

/*#################################################*/
/*                      Telas                     */
/*################################################*/

