@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Ubuntu:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: var(--corfundo);
}

:root {
    --cormenu: rgba(163, 12, 188, 0.61);
    --corfundo: #0E0E0E;
    --corham1: #A30CBC;
    --corham2: #201E1E;
    --cormenuL: #201E1E;
    --corsmtexto: #FFFFFF;
    --corslider: #A30CBC;
    --corbotaoslide: #201E1E;
    --corbotaoslidetexto: #FFFFFF;
    --rodapetitulo: #FFFFFF;
    --cardrodape: #201E1E;
    --cardtexto: #FFFFFF;
    --divisaocard: #1D1B1B;
}

#pagina{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1980px;
}

#menu {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background: var(--cormenu);
    position: relative;
    height: 60px;
}

.menu-itens {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu-itens-caixa {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.menu-itens-caixa-texto {
    display: flex;
    align-items:flex-end;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    transition: .3s;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 2rem;
    color: var(--cormenuL);
}

.menu-itens-caixa-imagem {
    height: 40px;
}

.menu-itens-caixa-texto::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    right: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: var(--cormenuL);
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-itens-caixa-texto:hover {
    color: var(--cormenuL);
}

.menu-itens-caixa-texto:hover:before {
    right: 0;
}

#menu-botao{
    position: absolute;
    width: 100%;
    max-width: 65px;
    padding: 5px;
    top: 0;
    left: 0;
}

.menu-botao-in{
    position: relative;
    width: 100%;
    max-width: 60px;
}

.menu-botao-ham{
    width: 100%;
    height: 12px;
    margin: 4px;
    border-radius: 10px;
    background: var(--corham1);
    transition: all .3s;
}

.hanima1{
    transform: rotate(55deg) translate(17px,8px);
    background: var(--corham2);
}

.hanima2{
    opacity: 0;
}

.hanima3{
    transform: rotate(-55deg) translate(10px, -10px);
    background: var(--corham2);
}

#conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;

}

.projeto1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;
}

.projeto1-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.titulo1-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.titulo1-container h1{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3rem;
    color: #FFFFFF;
}

.video1-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.video1-fundo{
    display: flex;
    background: rgba(163, 12, 188, 0.31);
    border-radius: 130px 35px 110px 50px;
    padding-left: 25px;
    padding-bottom: 25px;
    margin-right: 25px;
}

#video1{
    height: 450px;
    border-radius: 35px;
}

.descricao1-container{
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
    width: 75%;
}

.descricao1-container h2{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 1.75rem;
    color: #FFFFFF;
}

.projeto2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #A30CBC;
    padding: 25px;
}

.projeto2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.titulo2-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.titulo2-container h1{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 3rem;
    color: #201E1E;
}

.video2-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.video2-fundo{
    display: flex;
    background: rgba(13, 13, 13, 0.437);
    border-radius: 130px 35px 110px 50px;
    padding-left: 25px;
    padding-bottom: 25px;
    margin-right: 25px;
}

#video2{
    height: 450px;
    border-radius: 35px;
}

.descricao2-container{
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: center;
    width: 75%;
}

.descricao2-container h2{
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 1.75rem;
    color: #201E1E;
}

@media screen and (max-width: 1440px){
    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 45px;
    }
    
    .menu-botao-ham{
        height: 10px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(13px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(8px, -10px);
    }

}

@media screen and (max-width: 1250px){
    #menu{
        height: 50px;
    }

    #menu-botao{
        max-width: 50px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 40px;
    }
    
    .menu-botao-ham{
        height: 9px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(10px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(9px, -10px);
    }

    .menu-itens-caixa-imagem{
        height: 35px;
    }

    .menu-itens-caixa-texto{
        font-size: 1.8rem;
    }

    
}

@media screen and (max-width: 1050px){
    #menu-botao{
        max-width: 45px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 40px;
    }
    
    .menu-botao-ham{
        height: 9px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(10px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(9px, -10px);
    }

    .menu-links{
        font-size: 1.75rem;
        padding: 10px;
    }

}

@media screen and (max-width: 920px){
    #menu{
        height: 50px;
    }

    #menu-botao{
        max-width: 40px;
        padding: 10px;
    }
    
    .menu-botao-in{
        max-width: 35px;
    }
    
    .menu-botao-ham{
        height: 8px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(2px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(10px, -16px);
    }

    .menu-itens-caixa-imagem{
        height: 35px;
    }

    .menu-itens-caixa-texto{
        font-size: 1.6rem;
    }
    
}

@media screen and (max-width: 850px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 35px;
    }
    
    .menu-botao-ham{
        height: 8px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(8px,8px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(8px, -10px);
    }

    .menu-itens-caixa-imagem{
        height: 35px;
    }

    .menu-itens-caixa-texto{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 700px){
    #menu{
        height: 45px;
    }

    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 32px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    .menu-itens-caixa-imagem{
        height: 35px;
    }

    .menu-itens-caixa-texto{
        font-size: 1.2rem;
    }
}

/*celular*/

@media screen and (max-width: 650px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    #menu {
        flex-direction: row;
        align-items: center;
        height: 45px;
    }
    
    .menu-itens{
        flex-direction: row;
    }

    .menu-itens-caixa{
        flex-direction: row;
    }

    .menu-itens-caixa a{
        display: none;
    }
}

@media screen and (max-width: 525px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    #menu {
        flex-direction: column;
        align-items: center ;
    }
}

@media screen and (max-width: 388px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    #menu {
        flex-direction: column;
        align-items: center ;
    }

}

@media screen and (max-width: 340px){
    #menu-botao{
        max-width: 40px;
        padding: 5px;
    }
    
    .menu-botao-in{
        max-width: 30px;
    }
    
    .menu-botao-ham{
        height: 7px;
        border-radius: 10px;
    }
    
    .hanima1{
        transform: rotate(55deg) translate(6px,9px);
    }
    
    .hanima3{
        transform: rotate(-55deg) translate(6px, -12px);
    }

    #menu {
        flex-direction: column;
        align-items: center ;
    }

}