* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #7D4729 0%, rgba(188, 73, 8, 0.76) 100%);
}
label {
    position: relative;
    width: 300px;
    height: 150px;
    background-color: #3e3e3e;
    box-shadow: 0 0 0 4px #303030;
    border-radius: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
label input {
    appearance: none;
}
label span{
    position: absolute;
    left: 0;
    width: 190px;
    height: 170px;
    background: url(/img/Sol.svg); /*BOTAR IMAGEM*/
    background-size: auto 170PX;
    background-repeat: no-repeat;
    transition: 1.5s;
    transform: rotate(360deg);
    transform-origin: 75px;
}

label input:checked ~ span {
    left: 150px;
    background: url(/img/Lua.svg); /*BOTAR IMAGEM*/
    background-size: auto 165PX;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
}