* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #7D4729 0%, rgba(188, 73, 8, 0.76) 100%);
}

.botao{
    display: flex;
    background-color: #000000;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.botao-input{
    appearance: none;
}

.botao-input-imagem{
    display: flex;
    background-image: url(/img/Sol.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    width: 100px;
    height: 100px;
}